@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

/* definir o tema dark do site */
:root, :root[data-theme='dark']{
/* definir cores padrao em variavel */

--primary-color: #f0f0f0; /*cor dos textos */
--primary-bg-color: #111217; /*cor do fundo por causa do "bg" */
--secondary-bg-color: #C7c8c9; /*cor do fundo por causa do "bg" */
--primary-border-color: #28292E; /*cor da borda por causa do "border" */
--secondary-border-color: #56575A; /*cor da borda por causa do "border" */

/* definir cores dos textos padrao em variavel */
--title-color:#f0f0f0;
--text-color:#9a9a9c;
--link-color:#9a9a9c;
--icon-color:#C7C8C9;
}

:root [data-theme='light']{
    
--primary-color: #000000; /*cor dos textos */
--primary-bg-color: #ffffff; /*cor do fundo por causa do "bg" */
--secondary-bg-color: #c7c8c9; /*cor do fundo por causa do "bg" */
--primary-border-color: #8d8e92; /*cor da borda por causa do "border" */
--secondary-border-color: #27282c; /*cor da borda por causa do "border" */

/* definir cores dos textos padrao em variavel */
--title-color:#000000;
--text-color:#575758;
--link-color:#575758;
--icon-color:#6f2376;
}

html[data-theme='light'] .brand-logo {
    filter: invert(1);
}
* {
    margin: 0;  /*coloca a margem*/
    padding: 0; /*espaçamento*/
    vertical-align: basilene;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-bg-color) transparent;
}

body{
    background: var(--primary-bg-color);
    font-family: 'inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color); /* cor do texto */
}
a {
    text-decoration: none;
    color: var(--text-color)
}
a:hover {
    color: var(--primary-color)
}
i {
    color: var(--icon-color)
}
b {
    font-weight: 400;
}
h1 {
    font-size: 2.5rem;
    font-size: 200;
}
h2 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.4rem;
}
h3 {
    font-size: 1.55rem;
    text-align: left;
}
h4 {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.15rem;
    text-align: left;
}
h1, h2, h3 {
    font-family: 'League Spartan',Tahoma,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color:var(--title-color);
    font-weight: 200;
}
p, span, li {
    font-size: 1rem;
}
p {
    text-align: justify;
}
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2;
}
.header-toggle {
    display: flex;
    justify-content: flex-end;
}
.header-brand .brand-logo {
    width: 3.25rem;
    height: 3.25rem;
}
#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out;
}